
/* Default Settings  */

*{

padding: 0;
margin: 0;
box-sizing: border-box;

}

html{

    font-family: 'Open Sans', sans-serif;
}

main{

position: relative;
top: 10vh;

}

/* Settings Principal Boxes  */

/* SECTION HEADER  */

header{

display: flex;
height: 10vh;
width: 100%;
justify-content: space-between;
align-content: flex-start;
position: fixed;
z-index: 998;
background-color: white;

}

.item-header{

display: flex;
justify-content: space-around;
align-content: flex-start;
align-items: center;
column-gap: 15px;
padding-left: 10px;
padding-right: 10px;

/* debug */
height: 100%;

}

.card-header{

height: 100%;
display: flex;
align-items: center;
}



.card-header a{

  text-decoration: none;
  color: black; 
  font-size: small;
    
}

.card-header:hover{


border-bottom: 1px solid black;

}


/* SECTION CONTAINER-1  */

.jumbo{

width: 100%;
background-color: #B4D0E7;

}

.jumbo h1{

font-size: -webkit-xxx-large;
width: 90%;

}


.container-1{

width: 62%;
margin: 0 auto; 

}

.jumbo-section{

display: flex;
align-content: flex-start;
align-items: center;
margin-bottom: 110px;

}

.card-jumbo{
   
}

.card-jumbo p{

margin-bottom: 13px;

}

.card-jumbo span{

display: inline-block;
margin-bottom: 13px;   

}

.card-jumbo img{

position: relative;
top: 60px;

}

.Arrow{

  font-size: large; 
    
}

.fa-arrow-down:before {

 font-size: xx-large;   
 color: black;

}



/* SECTION CONTAINER-2  */

.container-2{


width: 52%;
margin: 0 auto;

}




/* Section one of container-2  */

.div-check{

display: flex;
margin-top: 18px;
}

.check{

margin-right: 25px;
margin-top: 25px;
margin-bottom: 55px;

}


.flex-colum{

display: flex;
align-content: flex-start;
column-gap: 15px;

}


.col{

width: calc(100% / 3 - 5px);
margin: 5px;
text-align: center;
width: 80%;
border: 1px solid rgb(173, 173, 173); 

}

.col h5{

display: inline-block;
margin-top: 10px;
margin-bottom: 15px;


}

.fa-check:before {

color: rgb(0, 119, 255);

}



.title-col{

border-bottom: 1px solid rgb(173, 173, 173); 


}

.col-elements{

display: flex;
flex-wrap: wrap;
align-content: space-around;
width: 100%;
row-gap: 30px;
padding: 15px;

}

.col-elements ul{

list-style: none;
font-size: small;

}

.col-elements div{

width: 100%;;
text-align: start;

}

.col-elements li{

margin-bottom: 10px;

}



/* Section two of container-2  */


.contact-sell{

width: 100%; 
text-align: left;
margin-top: 30px;
border: 1px solid rgb(173, 173, 173); 
margin-bottom: 30px;

}

.contact-sell h5{

 text-align: center;   
 padding-bottom: 5px;
 margin-top: 5px;
border-bottom: 1px solid rgb(173, 173, 173);

}


.contact-sell h3{

padding-bottom: 10px;

}

.contact-sell > div{

display: flex;
align-content: center;
justify-content: space-between;
margin-bottom: 20px;
padding-top: 15px;
padding-left: 10px;
padding-right: 10px;

}



/* Section 3 of container-2  */

.image-partner{

display: flex;
width: 100%;

}


.w-65{

 width: 65%;   
}

.w-35{

width: 30%;
padding: 15px;
}

.w-35 h3{

padding-bottom: 15px;

}

.w-35 p{

padding-bottom: 15px;
    
}
  



/* SECTION 4 of container-2  */

.description-cards{

width: 100%;
margin-top: 100px;
margin-bottom: 100px;

}

.description-cards h2{

margin-bottom: 20px;

}

.description-cards > div{

width: 100%;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
column-gap: 10px;
row-gap: 10px;

}

.card{

width: calc(100% / 3 - 10px);
display: flex;
justify-content: flex-start;
flex-direction: column;
justify-content: space-around;
row-gap: 15px;

}

.card div{

width: 100%;
text-align: left;

}

.height-25{

width: 25%;

}




/* SECTION 5 of container-2 */


.info-clients{

width: 100%;
text-align: left;
margin-bottom: 100px;

}

.info-clients h2{

padding-top: 50px;
padding-bottom: 30px;
width: 65%;

}

/* SECTION 6 , Section of sponsor */

.sponsor{

width: 100%;
display: flex;
align-content: flex-start;
height: 500px;

}

.sponsor-card{

width: calc(100% / 3);
height: 100%;
display: flex;
align-content: flex-start;
flex-wrap: wrap;

}

.lateral{

height: 50%;
width: 50%;
display: flex;
align-items: center;
justify-content: center;

}

.lateral img{

 width: 60%;   
 filter: invert(1);

}





.central-sponsor{

width: 100%;
height: calc(100% / 3);
background-color: #f5f5f5;
padding-top: 20px;
padding-left: 20px;

}



.central-sponsor img{

width: 60%;


}

.central-sponsor p{


margin-top: -20px;

}

.line-down{

height: 1px;
width: 25%;
border-bottom: 1px solid rgb(173, 173, 173); 
margin-left: 20px;
margin-top: -40px;

}





/* SECTION 7 of Business Version Section  */

.Business-Version{

width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #B4D0E7;
min-height: 200px;

}

.flex-btw{

display: flex;
justify-content: space-between;
align-items: center;
align-content: flex-start;

}

.flex-btw h2 {


padding-top: 50px;
padding-bottom: 30px;
width: 65%;
color: #61082B;


}

/* SECTION 8 of Answer  */

.answer{

width: 60%;
margin: 0 auto; 
text-align: center;
text-align: left;
margin-top: 100px;
margin-bottom: 100px;

}

.answer h2{

 padding-bottom: 1.5em;   

}

.answer div{

padding-top: 15px;
padding-bottom: 15px;

}

.answer p{

  display: inline-block;  
  padding-bottom: 1em;
  padding-top: 1em;   
  padding-right: 250px;
 
}

.bord-up-down{

border-bottom: 1px solid black;
border-top: 1px solid black;   

}


/* Setting Section Footer  */

footer{

width: 100%;

/* debug */
background-color: black;


}


.toolbar{

display: flex;
align-content: flex-start;
color: white;

/* height: 200px; */

}

.toolbar div {

width: calc(100% / 5);
/* height: 100%; */
padding-top: 50px;
padding-bottom: 50px;

}

.toolbar h4{

margin-bottom: 15px;


}

.language{

padding-top: 20px;
text-align: left;
width: 15%;
color: white;
border-top: 1px solid white;

}

.toolbar li{

 list-style: none;   
 font-size: small;
 margin-bottom: 5px;

}

.language span {

 margin-left: 5px;
 margin-right: 5px;   

}


/* Utility Settings  */


.button{

padding-left: 0.5em;
padding-right: 0.5em;
padding-top: 0.2em;
padding-bottom: 0.2em;
text-align: center;

}

.button-big{

    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;

    }

.border-black{

border: 1px solid black;

}


.back-white{

 background-color: white;   

}


.back-blue{

    background-color: #0061ff;

}

.text-white{

color: white;

}

img{

    max-width: 100%;
    
    
    }

.xx-large{

font-size: xx-large;

}

.marginb-ten{

margin-bottom: 10px;

}

.gray{

font-size: small;
color: rgba(156, 154, 154, 0.89);

}

.small{

font-size: small;

}

.linedown{

padding-bottom: 20px;
border-bottom: 1px solid rgb(173, 173, 173);

}


.w-600{


font-weight: 600;

}

.large-80{

width: 80%;   
padding-left: 10px;
padding-bottom: 10px;

}

.back-A2D39B{

background-color: #A2D39B;

}

.back-61082B{

background-color: #61082B;

}

.back-0093CE{

 background-color: #0093CE;
    
}

.back-FF1C1C{

 background-color: #FF1C1C;   
}

.back-D5001F{

background-color: #D5001F;

}

.back-B4D0E7{

background-color: #B4D0E7;

}

.back-0D2481{

  background-color: #0D2481; 
    
}

.back-FFD830{

background-color: #FFD830;

}


.bor-D1E9CD{

border: 12px solid #D1E9CD; 

}

/* Hover Utility  */

.button.back-blue:hover{

background-color: rgb(126, 214, 255);

}

.button-big.back-blue:hover{

background-color: rgb(126, 214, 255);
   
}

.button.border-black:hover{

color: rgba(0, 0, 0, 0.541);
border-color: rgba(0, 0, 0, 0.541);

}

.button-big.back-white:hover{

background-color: whitesmoke;
color:  rgba(0, 0, 0, 0.541);

}


.no-line{

text-decoration: none;
color: black;

}