
/* Default Settings  */

*{

padding: 0;
margin: 0;
box-sizing: border-box;

}

html{

    font-family: 'Open Sans', sans-serif;
}

main{

position: relative;
top: 10vh;

}

/* Settings Principal Boxes  */

/* SECTION HEADER  */

header{

display: flex;
height: 10vh;
width: 100%;
justify-content: space-between;
align-content: flex-start;
position: fixed;
z-index: 998;
background-color: white;

/* debug */
/* background-color: blueviolet; */

}

.item-header{

display: flex;
justify-content: space-around;
align-content: flex-start;
align-items: center;
column-gap: 15px;
padding: 10px;

/* debug */
/* background-color: brown; */

}

.card-header{

font-size: small;

/* debug */
/* background-color: yellow; */
/* border: 1px solid black; */

}




/* SECTION CONTAINER-1  */

.jumbo{

width: 100%;

/* debug */
background-color: rgb(35, 140, 182);
/* height: 300px; */
}

.jumbo h1{

font-size: -webkit-xxx-large;
width: 90%;

}


.container-1{

width: 62%;
margin: 0 auto; 

/* debug */
/* background-color: darkorange; */
/* border: 1px solid black; */
/* height: 290px; */

}

.jumbo-section{

display: flex;
align-content: flex-start;
align-items: center;
margin-bottom: 110px;
/* debug */
/* background-color: yellowgreen; */
/* border: 1px solid black; */
/* height: 200px; */

}

.card-jumbo{
   
/* debug */
/* height: 100px; */

/* background-color:violet; */
/* border: 1px solid black; */

}

.card-jumbo p{

margin-bottom: 13px;

}

.card-jumbo span{

display: inline-block;
margin-bottom: 13px;   

}

.card-jumbo img{

position: relative;
top: 35px;

}

.Arrow{

  font-size: large; 
    
}

.fa-arrow-down:before {

 font-size: xx-large;   

}



/* SECTION CONTAINER-2  */

.container-2{


width: 52%;
margin: 0 auto; 

/* debug */
/* background-color: pink; */
/* border: 1px solid black; */
   
}




/* Section one of container-2  */

.div-check{

display: flex;
margin-top: 18px;

/* debug */
/* background-color: tomato; */
/* border: 1px solid black; */
/* align-content: flex-start; */

}

.check{

margin-right: 25px;
margin-top: 25px;
margin-bottom: 55px;


/* debug */
/* background-color: yellowgreen; */

}


.flex-colum{

display: flex;
align-content: flex-start;
column-gap: 15px;

/* debug */
/* background-color: gray; */
/* height: 650px; */

}


.col{

width: calc(100% / 3 - 5px);
margin: 5px;
text-align: center;
border: 1px solid rgb(173, 173, 173);

/* debug  */
/* background-color: coral; */
/* border: 1px solid black; */
/* height: 630px; */

}

.col h5{

display: inline-block;
margin-top: 10px;
margin-bottom: 15px;


}

.fa-check:before {

color: rgb(0, 119, 255);

}



.title-col{

border-bottom: 1px solid rgb(173, 173, 173); ;


}

.col-elements{

display: flex;
flex-wrap: wrap;
align-content: space-around;
width: 100%;
row-gap: 30px;
padding: 15px;

/* debug  */
/* background-color: seagreen; */
/* border: 1px solid blue; */
/* height: 590px; */

}

.col-elements ul{

list-style: none;
font-size: small;

}

.col-elements div{

width: 100%;;
text-align: start;

/* debug */
/* background-color: darkturquoise; */
/* border: 1px solid red; */
}

.col-elements li{

margin-bottom: 10px;

}



/* Section two of container-2  */


.contact-sell{

width: 100%; 
text-align: left;


/* debug */

height: 190px;
background-color: royalblue;
border: 1px solid black;

}

.contact-sell h5{

 text-align: center;   
 margin-bottom: 20px;
}



.contact-sell > div{

display: flex;
align-content: flex-start;
justify-content: space-between;
margin-bottom: 20px;

/* debug */
background-color: tan;
border: 1px solid green;

}

/* Section 3 of container-2  */

.image-partner{

display: flex;
width: 100%;

    /* debug */
background-color: springgreen;
border: 1px solidd black;
height: 400px;

}

.image-partner div{

width: calc(100% / 2);


/* debug */
background-color: skyblue;
border: 1px dashed yellow;
}

/* Section 4 of container-2  */

.description-cards{

width: 100%;

/* debug */
background-color: lightsalmon;
border: 1px dashed black;
height: 665px;

}

.description-cards > div{

width: 100%;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
column-gap: 5px;
row-gap: 10px;



/* debug */
background-color:chocolate
border: 1px solid red;

}

.card{

width: calc(100% / 3 - 5px);
display: flex;
justify-content: flex-start;
flex-direction: column;

/* debug */
background-color: deeppink;
border: 1px dashed blue;
height: 300px;



}

.card div{

height: calc(100% / 3);   
width: 100%;
text-align: left;

/* debug */
background-color: darkolivegreen;
border: 1px solid white;

}

/* Section 5 of container-2 */


.info-clients{

width: 100%;
text-align: left;

/* debug */
color: orchid;
border: 1px solid red;
height: 200px;

}

.info-clients h2{

padding-top: 50px;
padding-bottom: 30px;

}

/* Section 6 , Section of sponsor */

.sponsor{

width: 100%;
display: flex;
align-content: flex-start;

/* debug */
background-color: purple;
border: 1px solid black;
height: 500px;

}

.sponsor-card{

width: calc(100% / 3);
height: 100%;
display: flex;
align-content: flex-start;
flex-wrap: wrap;

/* debug */
background-color: mediumslateblue;
border: 1px solid black;

}

.lateral{

height: 50%;
width: 50%;

/* debug */
background-color: darkcyan;
border: 1px dashed yellow;

}

.central-sponsor{

width: 100%;
height: calc(100% / 3);

/* debug */
background-color: orange;
border: 1px dashed black;

}


/* Section 7 of Business Version Section  */

.Business-Version{

width: 100%;

display: flex;
justify-content: center;
align-items: center;

/* debug */
background-color: darkturquoise;
height: 200px;

}

.flex-btw{

display: flex;
justify-content: space-between;
align-items: center;
align-content: flex-start;

}

/* Section 8 of Answer  */

.answer{

width: 60%;
margin: 0 auto; 
text-align: center;
text-align: left;




/* debug */
background-color: blue;
margin-bottom: 100px;

}

.answer h2{
 padding-bottom: 2em;   
}

.answer p{

 padding-bottom: 2em;

}


/* Setting Section Footer  */

footer{

width: 100%;

/* debug */
background-color: black;


}


.toolbar{

display: flex;
align-content: flex-start;
height: 200px;


}

.toolbar div {

width: calc(100% / 5);
height: 100%;

/* debug */

background-color: rosybrown;
border: 1px solid black;

}

.language{

padding-top: 20px;
text-align: left;
width: 15%;

/* debug */
background-color: yellow;
border: 1px solid black;

}


/* Utility Settings  */


.button{

padding-left: 0.5em;
padding-right: 0.5em;
padding-top: 0.2em;
padding-bottom: 0.2em;
text-align: center;

}

.button-big{

    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;

    }





.back-blue{

    background-color: aqua;

}

.text-white{

color: white;

}

img{

    max-width: 100%;
    
    
    }

.xx-large{

font-size: xx-large;

}

.marginb-ten{

margin-bottom: 10px;

}

.gray{

font-size: small;
color: rgba(156, 154, 154, 0.89);

}

.small{

font-size: small;

}

.linedown{

padding-bottom: 20px;
border-bottom: 1px solid black;

}